.copyright
  &copy; #{Time.now.year},
  =mail_to "contact@tubity.com", "Tubity"
  %br

  YouTube and the YouTube logo are property of
  %a{:href => 'http://youtube.com'}
    YouTube, LLC
  %br

  Dailymotion and the Dailymotion logo are property of
  %a{:href => 'http://dailymotion.com'}
    Dailymotion, FLC
  %br

  Vimeo and the Vimeo logo are property of
  %a{:href => 'http://vimeo.com'}
    Vimeo, LLC
