.copyright
  &copy; #{Time.now.year},
  =mail_to "contact@tubity.com", "Tubity"
  %br

  YouTube и логотип YouTube - собственность
  %a{:href => 'http://youtube.com'}
    YouTube, LLC
  %br

  Dailymotion и логотип Dailymotion - собственность
  %a{:href => 'http://dailymotion.com'}
    Dailymotion, FLC
  %br

  Vimeo и логотип Vimeo - собственность
  %a{:href => 'http://vimeo.com'}
    Vimeo, LLC
