.caption_wrapper
  %span.caption.inverted
    API
  .clear

.inverted
  .api_wrapper
    Рады видеть вас здесь!
    %br
    %br

    Вы можете использовать Tubity для вставки ссылок на видео на вашем форуме, блоге или любом другом сайте.
    %br
    %br

    Или вы можете использовать Tubity, если вы ненавидите встариваемые плееры по какой-либо причине.
    Например, потому что они делают загрузку страницы невыносимо долгой.
    %br
    %br

    В любом случае, вы можете использовать API Tubity совершенно
    %span.bold_font
      бесплатно.
    Для этого лишь напишите нам на
    = mail_to "api@tubity.com", "api@tubity.com", {class: "black_link"}
    и опишите сценарий использования и интеграции как вы хотели бы ее видеть.
    %br
    %br

    Мы свяжемся с вами и обсудим как сделать интеграцию максимально прозрачной для вашего сайта и
    пользователей.

.spacer

.caption_wrapper
  %span.caption.inverted
    Гарантия ОТСУТСТВИЯ РЕКЛАМЫ
  .clear

.inverted
  .api_wrapper
    Tubity не делает ничего кроме перенаправления на поддерживаемые сервисы видео-хостинга, запоминания
    соответствующих ссылок и сбора статистики.
    %br
    %br

    При любой интеграции с Tubity мы гарантируем, что мы никогда не будем добавлять любого вида рекламную информацию
    к ссылкам или в цепочку перенаправления (редиректа), или заменять любое содержимое связанное ссылками
    через Tubity такого рода информацией.


.spacer

= link_to "Назад на Tubity.com", root_path