.caption_wrapper
  %span.caption.inverted
    API
  .clear

.inverted
  .api_wrapper
    We are glad to see you here!
    %br
    %br

    You can use Tubity if you'd like to paste videos into your forum messages, blog posts, etc. with previews.
    %br
    %br

    Or you can use Tubity if you just hate embed players for any reason. For ex., because they make your page load times unacceptable.
    %br
    %br

    Anyway, you can use Tubity's API for
    %span.bold_font
      free,
    you just need to mail us to
    = mail_to "api@tubity.com", "api@tubity.com", {class: "black_link"}
    and describe the scenario how you'd like to integrate.
    %br
    %br

    We will contact you and discuss how to make integration as transparent for your website and users
    as possible.

.spacer

.caption_wrapper
  %span.caption.inverted
    NO ADS guarantee
  .clear

.inverted
  .api_wrapper
    Tubity does nothing except redirects to supported video hosting services and collects video links
    with statistics.
    %br
    %br

    With any integration of Tubity into your website we guarantee that we will never add any kind of
    advertisement content to links or redirect chain or replace any content related to video link
    via Tubity with such content.




.spacer

= link_to "Back to Tubity.com", root_path